<%- include("partials/header.ejs") %>
  <!-- Navigation -->
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/"><img class="img-fluid logo" src="/images/logo-horizontal.png" alt=""></a></h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-white" href="#">Menu</a>
      <a class="p-2 text-white" href="#">Tracker</a>
      <% if(user) { %>
        <!-- Example single danger button -->
      <div class="btn-group">
        <div class="button-group dropleft">

        <button class="btn btn-danger btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My Account
        </button>

        <div class="dropdown-menu">
          <a class="dropdown-item" href="/auth/<%= user.id %>"><i class="fas fa-user"></i> View Account</a>
          <a class="dropdown-item" href="/auth/<%= user.id %>/edit"><i class="fas fa-user-edit"></i> Edit Account</a>
          <a class="dropdown-item" href="/orders/"><i class="fas fa-pizza-slice"></i> View Orders</a>
          <div class="dropdown-divider"></div>
          <div class="dropdown-item">
            <form action="/logout?_method=DELETE" method="POST"> 
            <button class="dropdown-item" type="submit" value="Logout" ><i class="fas fa-sign-out-alt"></i> Logout</button>
          </form>
          </div>

        </div>
      </div>
      </div>
    </nav>
  
    <% } else { %>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <a class="btn btn-sm btn-outline-danger" href="/login">Login</a> 
      
      <a class="btn btn-sm btn-outline-danger" href="/register">Register</a>
      </div>
      <% } %>

  </div>
  <!-- END Navigation -->

  <!-- Main -->
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="row row-cols-1 row-cols-md-1">
          <div class="col mb-12 mt-3">
            <h3>
              <% if(user) { %>
                Welcome, <%= user.username %> 
              <% } else { %>
                Welcome to Planet Pizza!
                <% } %>
            </h3>
            <div class="row mb-1">
              <div class="col-md-6 px-md-4">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                  <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">SPECIAL</strong>
                    <h4 class="mb-0">Hawaiian Pizza</h4>
                    <div class="mb-1 text-muted">$15.99</div>
                    <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                    <button type="button" class="btn btn-danger btn-lg">Order Now <i class="fas fa-long-arrow-alt-right"></i></button>
                  </div>
                  <div class="col-auto d-none d-lg-block">
                    <img src="../images/hawaiian-pizza.jpg" alt="" srcset="" width="300px" height="250px">
                  </div>
                </div>
              </div>
              <div class="col-md-6 px-md-4">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                  <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">SPECIAL</strong>
                    <h4 class="mb-0">Hawaiian Pizza</h4>
                    <div class="mb-1 text-muted">$15.99</div>
                    <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                    <button type="button" class="btn btn-danger btn-lg">Order Now <i class="fas fa-long-arrow-alt-right"></i></button>
                  </div>
                  <div class="col-auto d-none d-lg-block">
                    <img src="../images/hawaiian-pizza.jpg" alt="" srcset="" width="300px" height="250px">
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-md-6 px-md-4">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                  <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-danger">SPECIAL</strong>
                    <h4 class="mb-2">Hawaiian Pizza</h4>
                      <div class="col-auto d-none d-lg-block mb-3">
                        <img class="img-fluid img-thumbnail" src="../images/hawaiian-pizza.jpg" alt="" srcset="">
                      </div>
                    <div class="mb-1 text-muted">$15.99</div>
                    <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                    <button type="button" class="btn btn-danger btn-lg">Order Now <i class="fas fa-long-arrow-alt-right"></i></button>
                  </div>
                </div>
              </div>
              <div class="col-md-6 px-md-4">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                  <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-danger">SPECIAL</strong>
                    <h4 class="mb-2">Hawaiian Pizza</h4>
                      <div class="col-auto d-none d-lg-block mb-3">
                        <img class="img-fluid img-thumbnail" src="../images/hawaiian-pizza.jpg" alt="" srcset="">
                      </div>
                    <div class="mb-1 text-muted">$15.99</div>
                    <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                    <button type="button" class="btn btn-danger btn-lg">Order Now <i class="fas fa-long-arrow-alt-right"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END Main -->

<%- include("partials/footer.ejs") %>
