<%- include("../partials/header.ejs") %>

<!-- Main -->
<div class="main">
  <div class="container mt-5">
    <div class="row">
      <h1>Orders</h1>

      <div class="container">
        <div class="row">
          <p class="lead"></p>
          <div class="container">
            <div class="row">
              <table class="table table-striped table-dark">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Order ID</th>
                    <th scope="col">Order Date</th>
                    <th scope="col">Order Total</th>
                    <th scope="col">Order Details</th>
                  </tr>
                </thead>
                <tbody>
                  <% orders.forEach(order => { %>
                  <tr>
                    <th scope="row" id="order_counter">1</th>
                    <td><%= order._id %></td>
                    <td><%= order.createdAt %></td>
                    <td>$<%= order.price %>.00</td>
                    <td>
                      <a href="/orders/<%= order._id %>"
                        ><i class="fas fa-eye"></i> View Order</a
                      >
                    </td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- END Main -->

        <%- include("../partials/footer.ejs") %>
      </div>
    </div>
  </div>
</div>
