<%- include("../partials/header.ejs") %>
<!-- Navigation -->
<div
  class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark shadow-sm"
>
  <h5 class="my-0 mr-md-auto font-weight-normal">
    <a href="/">
      <img
        class="img-fluid logo"
        src="/images/logo-horizontal.png"
        alt="Pizza Planet"
      />
    </a>
  </h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="btn btn-danger p-2 text-white" href="/"
      ><i class="fas fa-pizza-slice"></i> Menu</a
    >
  </nav>
</div>
<!-- END Navigation -->

<main role="main" class="inner cover">
  <div class="container mt-5">
    <div class="row">
      <div class="lead">
        <h1>Order Details</h1>
        <h6 class="border-bottom">
          Order ID:<span class="text-white"> <%= order._id %></span>
        </h6>
        <div class="container">
          <div class="row">
            <div class="col">
              <div
                class="badge badge-danger text-wrap text-right mb-4 mt-2"
                style="width: 6rem"
              >
                Pizza Size
              </div>
              <%= order.size %>
            </div>
            <div class="col">
              <div
                class="badge badge-primary text-wrap text-right mb-4 mt-2"
                style="width: 6rem"
              >
                Crust
              </div>
              <%= order.crust %>
            </div>
            <div class="w-100"></div>
            <div class="col">
              <div
                class="badge badge-primary text-wrap text-right mb-4 mt-2"
                style="width: 6rem"
              >
                Sauce
              </div>
              <%= order.sauce %>
            </div>
            <div class="col">
              <div
                class="badge badge-primary text-wrap text-right mb-4 mt-2"
                style="width: 6rem"
              >
                Cheese
              </div>
              <%= order.cheese %>
            </div>
            <div class="w-100"></div>
            <div class="col">
              <div
                class="badge badge-primary text-wrap text-right mb-4 mt-2"
                style="width: 6rem"
              >
                Meat Toppings
              </div>
              <%= order.toppingsMeat %>
            </div>
            <div class="col">
              <div
                class="badge badge-primary text-wrap text-right mb-4 mt-2"
                style="width: 6rem"
              >
                Veggie Toppings
              </div>
              <%= order.toppingsVeggie %>
            </div>
          </div>
        </div>
        <h6 class="border-bottom text-white">Total</h6>
        <h3 class="mt-2">$<%= order.price %>.00</h3>
        <a class="btn btn-danger" href="/orders"
          ><i class="fas fa-angle-left mr-2"></i> Back to Orders</a
        >
      </div>
    </div>
  </div>
</main>
