<%- include("../partials/header.ejs") %>
<!-- Navigation -->
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/"><img class="img-fluid logo" src="/images/logo-horizontal.png" alt=""></a></h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-white" href="/">Menu</a>
      <a class="p-2 text-white" href="#">Tracker</a>

        <!-- Example single danger button -->
      <div class="btn-group">
        <div class="button-group dropleft">

        <button class="btn btn-danger btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My Account
        </button>
        </div>
      </div>
      </div>
    </nav>
  </div>
  <!-- END Navigation -->

<!-- Main -->
<div class="main">
  <div class="container">
    <div class="row">
      <h1>Customize Your Pizza</h1>

      <!-- Pizza Customize Form -->
      <div class="container">
        <div class="row">
          <form action="" method="post">
            <h3>Select Your Crust</h3>
          <select class="custom-select custom-select-lg mb-3">
            <option selected>Select Your Crust</option>
            <% for( let i = 0; i < crustValues.length; i++ ) { %>
            <option value="<%= crustValues[i] %>"><%= crustValues[i] %></option>
            <% } %>
          </select>

          <h3>Select Your Sauce</h3>
          <select class="custom-select custom-select-lg mb-3">
            <option selected>Select Your Sauce</option>
            <% for( let i = 0; i < sauceValues.length; i++ ) { %>
            <option value="<%= sauceValues[i] %>"><%= sauceValues[i] %></option>
            <% } %>
          </select>

          <h3>Select Your Cheese</h3>
          <select class="custom-select custom-select-lg mb-3">
            <option selected>Select Your Cheese</option>
            <% for( let i = 0; i < cheeseValues.length; i++ ) { %>
            <option value="<%= cheeseValues[i] %>"><%= cheeseValues[i] %></option>
            <% } %>
          </select>
          
          <h3>Meat Toppings</h3>
          <div class="form-check">
            <% for( let i = 0; i < toppingsMeatValues.length; i++ ) { %>
              <input class="form-check-input" type="checkbox" value="<%= toppingsMeatValues[i] %>" id="meatToppings">
              <label class="form-check-label" for="meatToppings">
                <%= toppingsMeatValues[i] %><br><br>
                <% } %>
            </label>
          </div>
          <h3>Veggie Toppings</h3>
          <div class="form-check">
            <% for( let i = 0; i < toppingsVeggieValues.length; i++ ) { %>
              <input class="form-check-input" type="checkbox" value="<%= toppingsVeggieValues[i] %>" id="meatToppings">
              <label class="form-check-label" for="meatToppings">
                <%= toppingsVeggieValues[i] %><br><br>
                <% } %>
            </label>
          </div>
          <!-- TODO Prices for each up to 3 toppings and $0.50 after. -->
          <div class="price">
            Price: <%= pizzas.price %> 
          </div>

        </div>
      </form>
      </div>
    <!-- END Pizza Customize Form -->
    </div>
  </div>
</div>
<!-- END Main -->

<%- include("../partials/footer.ejs") %>
